# Rust
/target/
**/*.rs.bk
Cargo.lock
**/target/

# Gradle
/build
**/.gradle/
**/*/build

# Testing
**/test-results/

# IDE
.idea/
*.iml
*.swp
*.swo

# Minecraft
.minecraft/
/run/
*.jar
!gradle-wrapper.jar

# OS
.DS_Store
Thumbs.db
